# PostgreSQL - Raw Database
RAW_HOST=raw_db
RAW_PORT=5432
RAW_DB=customeros_raw
RAW_USER=raw_user
RAW_PASSWORD=raw_pass

# PostgreSQL - Warehouse Database
WH_HOST=warehouse_db
WH_PORT=5432
WH_DB=customeros_warehouse
WH_USER=wh_user
WH_PASSWORD=wh_pass

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow_db:5432/airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false